body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2; /* Cambia el color de fondo según tus preferencias */
}

.container {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px; /* Ajusta el ancho del contenedor según tus necesidades */
  margin: 0 auto; /* Centra horizontalmente el contenedor */
}

form {
  display: flex;
  flex-direction: column;
}

form label, form input {
  margin: 10px 0;
}

form button {
  margin: 10px 0;
}

