.btn.btn-create.btn-outline-secondary {
    margin-top: 30px;
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 220px;
}

.entry-data {
    width: 20vw;
}

.form-control.entry-data {
    text-align: center;
}

.form-control.entry-data.description-area{
    height: auto;
    text-align: start;
}

.input-instance {
    display: flex;
    flex-direction: column;
    height: 100%;
}





