h3 {
    text-align: start;
}

h5 {
    text-align: center;
}

.album-image {
    margin: 4px;
    width: 13%;
}

.album-image.selected {
    border-radius: 15%;
    box-shadow: 0 0 20px rgba(234, 57, 184, 0.9), 0 0 4px rgba(234, 57, 184, 0.4), 0 0 1rem rgba(234, 57, 184, 0.3), 0 0 4rem rgba(234, 57, 184, 0.1);
    width: 16%;
}

.album-image:hover {
    width: 16%;
}

.btn.btn-outline-danger.delete-profile {
    font-size: larger;
    width: 250px;
}

.btn.btn-outline-secondary.edit-data {
    font-size: larger;
    width: 200px;
}

.btn.btn-outline-secondary.edit-image {
    font-size: larger;
    width: 250px;
}

.btn.btn-outline-secondary.save-changes {
    font-size: large;
}

.btns {
    margin-top: 10px;
}

.card-header {
    background-color: transparent !important;
    border: none;
}

.card.card-picture {
    border-radius: 100%;
    height: 250px;
    margin-top: 20px;
    width: 250px;
}

.card-profile-info {
    border: none;
} 

.form-label.modal-label {
    margin-right: 10px;
}

.image-container {
    width: 100%;
}

.modal-content {
    background-color: #1c0c31; 
}

.modal-content.edit-image {
    margin-bottom: 3%;
    margin-left: -10%;
    width: 120%;
}

.modal.fade.show {
    margin-top: 10%;
}

.modal.fade.show .btn-close {
    background-color: #4e1994 !important;
    margin-right: 1em;
}

.modal-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #b1308c;
    border-width: 0.2em;
    color: white;
    margin-bottom: 2em;
    outline: none;
    width: 15em;
}

.modal-title {
    margin-left: 0.5em;
}

.picture {
    height: 100%;
    width: 100%;
}

.title {
    font-size: 45px;
    margin-top: 10px;
}