.btn.btn-outline-secondary.request-btn {
    font-size: larger;
    width: 250px;
}

.card-empty {
    height: 100%;
    margin-top: 20px;
}

.card-friends {
    height: 100%;
    margin-top: 20px;
}

.list-image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.list-image-container {
    border-radius: 50%;
    width: 30%;
}

.list-item {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    padding: 0;
}

.list-name {
    font-size: xx-large;
    margin-left: 20px;
}

.list.row {
    padding: 30px;
    place-content: start;
}

.user {
    font-size: 40px;
}