.btn.btn-outline-secondary.request-btn {
    font-size: larger;
    width: 250px;
}

.btn-solicitud{
}

.card-body {
    width: 100%;
}

.card-empty {
    height: 100%;
    margin-top: 20px;
}

.card-friends {
    height: 100%;
    margin-top: 20px;
}

.card.list-image-container{
    border-radius: 50%;
    margin: 8px;
    width:  100px;
}

.card.text-white {
    margin: auto;
    width: 20%;
}

.list-item {
    display: flex;  
}

.list-name {
    font-size: xx-large;
}

.list{
    padding: 30px;
}

.user {
    font-size: 40px;
}

.row .users {
    width: 100%;
}
