<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a GmG Tournaments</title>
</head>
<body>
    <div class="container">
        <h2>Bienvenido a GmG Tournaments</h2>
        <form method="post">
            <label for="Correo"><b>Correo</b></label>
            <input type="email" placeholder="Ingresa tu correo" name="Correo" required value="{{ request.form.Correo }}">
            <label for="Contrasenia"><b>Contraseña</b></label>
            <input type="password" placeholder="Ingresa tu contraseña" name="Contrasenia" required value="{{ request.form.Contrasenia }}">
            <button type="submit">Login</button>
        </form>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancelar</button>
            <span class="psw">Olvidaste tu <a href="#">contraseña?</a></span>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {%  for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>