
.btn-menu {
    height: 55px;
    width: 300px;
    font-size: 20px;
    margin: 30px; 
}

.card-menu {
    background-color: transparent !important;
    border: none;
    height: auto;
    margin-left: 450px;
    margin-top: 315px;
    position:absolute;
    width: 800px;
} 

.card-picture{
    background-color: transparent !important;
    border: none;
    height: 250px;
    margin-top: 20px;
    position:absolute;
    width: 250px;
}

.card-principal{
    margin-top: 20px;
    height: 580px;
    width: 1280px;
}

.card-user{
    background-color: transparent !important;
    border: none;
    height: 510px;
    margin-left: 20px;
    margin-top: 35px;
    align-items: center;
    position:absolute;
    width: 420px;
}

.button-container {
    display: flex;
    flex-wrap: wrap; 
    place-content: center;
}

.username{
    margin-top: 300px;
    position:absolute;
}